/*--------
-----reset---
--------*/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*--------
--common---
----*/
body{
    background-color:black;
}
/*---
--header
----*/
header{
    display: flex;
    justify-content: flex-end;
}
button{
    background-color: #4a4a4a;
    color: white;
    height: 30px;
    padding: 0px 5px;
    border-radius: 6px;
    margin-top: 3px;
    margin-right: 3px;

}
/*-------
--main*/
.container{
    width: 1300px;
    margin: auto;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
.image{
    width: 100%;
}
.guest{
    width: calc(100%/6 - 5px);
    position: relative;
    margin-bottom: 7px;
}
.name{
    color: white;
    font-size: 13px;
    height: 30px;
    padding: 5px;
    position: absolute;
    background-color: rgba(0, 0,0,0.3);
    left: 0px;
    bottom: 0px;
}
.main-nav{
    padding: 5px;
}
footer{
    height: 65px;
    background-color: #222222;
    color: white;
}
.row{
    display: flex;
}
ul{
    display: flex;
    list-style: none;
    align-items: center;
}
li{
    padding: 5px 15px;
    font-size: 15px ;
}
.icon{
    justify-self: center;
}
.text{
    font-size: 10px;
    margin-top: 5px;
}
.angle-up{
    align-self: center;
}
.column-icon{
   text-align: center;
   padding-right: 10px;

}
.left-foot{
    width: 20%;
}
.middle-foot{
    width: 60%;
    justify-content: center;
}
.right-foot{
    width: 20%;
    justify-content: flex-end;
}
.end{
    padding: 20px;
    color: red;
    background-color: rgba(0, 0,0,0.3);
    font-size: 13px;
    
}
.share{
    color: green;
}